body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #F6FFEF;
  text-shadow: 5pt gray;
}

/* .my-plant-list-banner {
  display: flex;
  gap: 36%;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 115px;
  margin-top: 25px;
  height: 50px;
  font-weight: 500;
} */

/* .searchbar {
  width: 180px;
  border-radius: 30px;
  border-color: #FFA928;
  background-color: #F6FFEF;
  border-width: 3px;
  font-size: 18px;
  
} */

.middle-div{
  display: flex;
}

.logo {
  width: 125px;  
  height: auto;  
  text-align: center;  
  padding-top: 10px;
}

.submit-new-plant {
  width: 300px;
  height: 545px;
  background-color: #BAD29F;
  position: relative;
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #a1a1a1;
}

.input-field {
  width: 80%;
  padding: 4px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 12px;
  color: #FFA928;
  background-color: #F6FFEF;
  border: 2px solid #FFC876;
  border-radius: 30px;
  box-shadow: 2px 2px 2px #a1a1a1;
  font-weight: bold;
}

.input-field::placeholder {
  color: #FFC876;
  font-weight: 500;
}

.input-field:focus {
  border-color: #FFA928;
  outline: 0;
}

.inner-html-plant-card {
  width: 200px;
  height: 255px;
  border: 0;
  font-size: 8pt;
  line-height: 30%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #F6FFEF;
  text-shadow: 1px 1px 4px #000000;
  box-shadow: 2px 2px 2px #a1a1a1;
}

.inner-html-image {
  width: 188px;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 5px;
}

.submit-button {
  width: 80%;
  padding: 4px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  color: #F6FFEF;
  font-weight: bold;
  border-radius: 30px;
  background-color:#FFA928;
  transform: scale(1);
  transition: 0.5s;
  box-shadow: 2px 2px 2px #a1a1a1;
}

.submit-button:hover  {
  font-size: 15px;
  transform: scale(1);
  transition: 0.5s;
}

.main-plant-card {
  display: flex;
  gap: 35px;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 8pt;
  margin-top: 20px;
}

.plant-card-name {
  font-size: 13px;
}

.hide {
  display: none;
}

.footer-top-line {
  height: 1px;
  background-color: #BAD29F;
  border: none;
}

.footer-details {
  display: flex;
  gap: 13%;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  color: #FFA928;
  margin-top: 20px;
  margin-left: 10px;
}

.copyright-block {
  margin-top: 25px;
}

.about-us-block {
  margin-top: 2px;
}

.disclosure-block {
  margin-top: 18px;
}

button {
  border: 0;
  border-radius: 5px;
  background-color: #BAD29F;
  transition: transform 0.5s;
}

button:hover {
  background-color:#FFA928;
  transition: 0.5s;
  border: 0;
  transform-origin: center;
  transform: scale(1.20);
}